@import "tailwindcss";

:root {
	--color-1: 0 100% 63%;
	--color-2: 270 100% 63%;
	--color-3: 210 100% 63%;
	--color-4: 195 100% 63%;
	--color-5: 90 100% 63%;
}

@theme {
	--color-background: hsl(0 0% 3.9%);
	--color-foreground: hsl(0 0% 98%);
	--text-color: hsl(30 6% 87%);

	--color-card: hsl(0 0% 3.9%);
	--color-card-foreground: hsl(0 0% 98%);

	--color-popover: hsl(0 0% 3.9%);
	--color-popover-foreground: hsl(0 0% 98%);

	--color-secondary: hsl(0 0% 14.9%);
	--color-secondary-foreground: hsl(0 0% 98%);

	--color-muted: hsl(0 0% 14.9%);
	--color-muted-foreground: hsl(0 0% 63.9%);

	--color-accent: hsl(0 0% 14.9%);
	--color-accent-foreground: hsl(0 0% 98%);

	--color-destructive: hsl(0 62.8% 30.6%);

	--color-border: hsl(0 0% 14.9%);
	--color-input: hsl(0 0% 14.9%);

	--color-chart-1: hsl(220 70% 50%);
	--color-chart-2: hsl(160 60% 45%);
	--color-chart-3: hsl(30 80% 55%);
	--color-chart-4: hsl(280 65% 60%);
	--color-chart-5: hsl(340 75% 55%);
}
